{
	"presets": [["minify"]],
    "plugins": [
		["module-resolver", {
        	"root": ["dist"],
    	    "alias": {
    	      "test": "./test",
    	      "underscore": "lodash"
    	    }
    	}]
    ]
}